@{
    ViewData["Title"] = "Products";
}


<div class="row">
    <h1>Product Manager</h1>

    <div class="col-12">
        <table class="table table-bordered">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Release Date</th>
            </tr>
            <tr style="font-size:20px">
                <td style="padding-top:15px; padding-bottom:15px">
                    
                </td>
            </tr>
            
        </table>
        <a class="btn btn-primary"style= "text-decoration:none; color:white" asp-area="" asp-controller="Product" asp-action="Add">Add Product</a>
    </div>
</div>
